@charset 'utf-8';


// Lexicon imports

// Settings
@import '../../node_modules/digital-lexicon/scss/1-settings/**/*';


// Tools
@import '../../node_modules/digital-lexicon/scss/2-tools/**/*';


// Generic (Vendor)
// Other vendor related stuff is managed by gulp-tasks/sass.js and bower
@import '../../node_modules/digital-lexicon/scss/3-generic/**/*';


// Elements
@import '../../node_modules/digital-lexicon/scss/4-elements/**/*';
//@import '4-elements/page';


// Components
@import '../../node_modules/digital-lexicon/scss/6-components/**/*';


// Trumps / Utilities
@import '../../node_modules/digital-lexicon/scss/7-trumps/**/*';


//variables
$base-font: 'Roboto', sans-serif;
$font-awesome: 'FontAwesome';
$bbt-red: #903;
$bbt-yellow: #ffc12e;
$off-white: #fcfcfc;
$lt-grey: #ebedee;
$md-grey: #fefefe;

body {
  background-color: $lt-grey;
  text-align: left;
  height: auto;
}

header {
  background-color: $bbt-red;
  padding: 10px 0;

  button {
    background-color: $bbt-yellow;
    border: 0 none;
    font-family: $base-font;
    padding: 9px 20px;
  }

  section {
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
    padding: 0 10px;

    h1 {
      font-family: $base-font;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.2;
      padding: 10px 0;
      text-align: center;
    }
  }
}

.controllers {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  button {
    font-size: 0;
    margin-bottom: 10px;

    i {
      display: block;
      font-size: 20px;
    }
  }

  .search,
  .amount {

    button {
      padding: 12px 20px 10px;
    }
  }
}

.searchbar,
.filterbar {
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid #d8d8d8;
  box-shadow: -1px 6px 2px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  height: 42px;
  padding: 0 10px 0 15px;
  position: absolute;
  width: 100%;
  z-index: 9999;

  input {
    border: 0 none;
    color: #676767;
    display: block;
    font: 16px $base-font bold;
    height: 40px;
    line-height: 40px;
    outline: medium none;
    padding: 0;
    width: 80%;
  }

  button{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #717171;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 18px;
    margin-top: 10px;
    outline: medium none;
  }
}

main {
  padding: 30px 0;
}

.wiki-article {
  column-gap: 15px;
  columns: 3 320px;
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;

  .article {
    background: $md-grey;
    border: 2px solid $off-white;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 0 20px;
    overflow-y: auto;
    padding: 0 10px 20px;

    a {
      color: #000;
    }

    header {
      background-color: transparent;
      font-family: $base-font;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      margin: 0 0 10px;
    }

    .article-extract {

      a {
        font: 16px/22px normal;
      }
    }

    p {
      font: 16px/22px normal;
      margin: 0 0 10px;
    }
  }
}

@media screen and (min-width: 701px) {
  .controllers {
    flex-flow: row nowrap;
  }

  .searchbar,
  .filterbar {
    height: 62px;
    padding: 0 10px 0 25px;

    input {
      font: 20px $base-font bold;
      height: 60px;
      line-height: 60px;
      width: 88%;
    }

    button {
      font-size: 28px;
      margin-top: 18px;
    }
  }
}

@media screen and (min-width: 901px) {

  header {
    padding: 20px 0;

    section {
      padding: 0 20px;

      h1 {
        font-size: 36px;
        padding: 20px 0;
      }
    }
  }

  .controllers {

    button {
      font-size: 100%;

      i {
        display: none;
      }
    }

    .search {
      margin-bottom: 0;
      order: 2;
    }

    .amount {
      order: 3;
    }

    .clear-btn{
      order: 4;
    }
  }
}
